/* NORTHWEST CREATIVE — MAIN STYLESHEET
   Build this file together during instruction.
   First task: import colors.css.
*/
@import url(./colors.css);

.logo{
   color:var(--Primary, #000000);
   font-size: 32px;
   font-weight: bold;
}
#primary-nav a{
   color:var(--Primary, #1d3557);
   text-decoration: none;
   font-weight: bold;
}
#primary-nav{
   margin-top: 10px;
}
body{
   background-color:var(--light,#f1faee);
}
#hero{
   background-color:var(--Primary, #1d3557);
   color:var(--light, #F1E7DC);
}

#hero .eyebrow{
   color:var(--accent, #f9f9f9);
}
.button{
   padding:10px;
   background-color:var(--accent, #e63946);
   color:var(--white, #ffffff);
   text-decoration: none;
   font-weight: bold;
   margin-right: 10px;
}
.button-secondary{
   background-color:var(--white, #ffffff);
   color:var(--Primary, #1d3557);
}
#hero h1{
   width: 650px;
}
   
#hero .hero-copy{
   width: 650px;
}
h2{
   color:var(--dark, #1d1d1d);
}
.container{
   max-width: 800px;
   margin: 0  auto 0 auto;
}
.card-grid, .benefit-list {
   display: flex;
   gap: 20px;
}
.benefit-list .benefit {
   flex-direction: column;
   display: flex;
}
.site-footer{
   background-color:var(--dark, #1d1d1d);
   color:var(--light, #F1E7DC);
}
#contact{
   background-color:var(--Primary, #8ba8d0);
   color:var(--light, #F1E7DC);
   padding: 50px 0;
}
#community{
   background-color:var(--light, #f1faee);
   color:var(--dark, #1d1d1d);
   padding: 50px 0;
}
.section-title{
   font-size: 28px;
   margin-bottom: 20px;
   color:var(--dark, #1d1d1d);
}
.container.testimonial {
   max-width: 700px;
   margin: 0 auto 0 auto;
   text-align: center;
}
.highlight {
   background-color: var(--gray, #e0e0e0);
   color: var(--dark, #1d1d1d);
   padding: 50px 0;
}
.testimonial blockquote {
   font-style: italic;
   margin: 0 0;
   padding: 10px 20px;
   font-size: 20px;
   font-weight: bold;
}
.dark section {
   background-color: var(--dark, #c6dfbd);
   color: var(--light, #F1E7DC);
   padding: 50px 0;
}
#benefits.dark-section {
   background-color: var(--dark, #c6dfbd);
   color: var(--light, #F1E7DC);
   padding: 100px 0;
}
#benefits .section-title {
   font-weight: bold;
   color: var(--white, #ffffff);
}
#whatwedo .section-title {
   font-weight: bold;
   color: var(--white, #ffffff);
}
#about{
   color:var(--black, #000000);
   padding: 50px 0;
}
#about .two-column {
   gap: 20px;
   display: flex;
}
.feature-layout {
   gap: 20px;
   display: flex;
}
.feature-layout.community {
   gap: 20px;
   display: flex;
}
.feature-layout.community .feature-item{
   background-color:var(--light, #adb5ab);
   display:flex;
   flex-direction: column;
   padding: 20px;
   width: 33%;
   border-left: 1px solid var(--dark, #1d1d1d);
}

.featured-dark {
   display: flex;
   margin-bottom: 20px;
   background-color: var(--primary);
}
.featured-dark img {
   max-width: 50%;
   height: auto;
}
.featured-dark-content {
   display: flex;
   flex-direction: column;
   padding: 20px;
}